# travis yaml file for python

notifications:
    email: false
language: python
python:
  - "3.6"
services:
  - postgresql
# command to install dependencies
install:
  - pip install -r requirements.txt
    #- pip3 install psycopg2
    #- pip3 install PrettyTable
    #- pip3 install termcolor
# command to run tests
before_script:
  - psql -c 'create database mydb;' -U postgres

script:
        #- psql postgresql
  - psql mydb -c 'create table base_stats(id varchar, species varchar, hp int, attack int, defense int);' -U postgres
  - psql mydb -c "\copy base_stats FROM 'pogostats_csv.csv' (format csv, header true);" -U postgres
  - pytest test_file_read.py -v
  - pytest test_read_base_stats.py -v
  - pytest test_stat_product.py -v
